<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellat aperiam deserunt esse voluptatum dolor excepturi iusto voluptate perspiciatis, quaerat necessitatibus sit soluta ipsum velit aliquid officia harum ducimus reiciendis eum repudiandae id itaque nulla cum similique. Quod, et eligendi atque est, consequatur quisquam nobis possimus asperiores deserunt hic autem.</h2>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, assumenda!</h2>
</body>
</html>